body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;

}

#input-container {
    margin-bottom: 20px;
    pointer-events: auto;

    position: relative;

    z-index: 2;

}

#addresses {
    max-height: calc(100vh - 50px);

    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    list-style-type: none;

}

.address-item {
    margin-bottom: 5px;

    font-size: 16px;

    color: #333;

}

#pathDistance {
    margin-top: 20px;
}

#addressInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    transition: border-color 0.3s, box-shadow 0.3s;

}

#addressInput:focus {
    border-color: #007bff;

    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);

}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.btn-primary {
    background-color: #007bff;

    color: #fff;

}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;

}